<li class="submenu-item <%= mark_as_active('solidus_paypal_braintree/configurations/list', 'active') %>">
	<%= link_to Spree.t(:braintree, scope: [:admin, :tab]), solidus_paypal_braintree.list_configurations_path %>
</li>